body {
    margin: 0;
}

nav {
    display: flex;
    background-color: #B6C2C7;
    align-items: center;
    border-bottom: 2px solid #356F89;
}

#icon-image {
    width: 100px;
}

nav a {
    margin: 20px;
    color: #425259;
    text-decoration: none;
}

h1 {
    margin: 50px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bass {
    width: 500px;
}